.gradle
build/
.idea
out
.sqlite
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

src/main/resources/sql/Chinook_Sqlite\.sqlite
